/* li:hover{
  background-color:rgb(238, 125, 125);
  opacity:90;
 color:black;
  border-radius: 10px;
  border-color: aliceblue;
} */
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
body{
  background: rgb(235, 234, 234);

}
.heading{
  color: rgb(219, 21, 21);

  text-shadow: darkgray;
}
#me{
  position:absolute;
  opacity:90%;
  width:100%;
  object-fit: cover;
  height:100%;
  z-index:-1;
  margin-top: -180px;
}
.logn{
  cursor: default;
}

#services{
  margin-top: 50vh;
  background-color: rgb(255, 255, 255);

  width: 100%;
  
  color: rgb(0, 0, 0);
}
.footer{
  background-color:black;
  color:blanchedalmond;
  padding:15px
}
/* #abtimg{
  border-radius: 15%;
  padding :20px
} */
.rounded:hover{
  background: rgb(206, 201, 201);
}


#font_style{
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size:2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

#tit{
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size:2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.heder{
  font-family: 'Kdam Thmor Pro', sans-serif;
  padding: 10px;
  margin-left: 1rem;
}


.modal-dialog {
  max-width: 850px;
  margin: 2rem auto;
  height: 100%;
}